<!DOCTYPE html>
<html>
<head>
    <title>Добро пожаловать</title>
</head>
<body>
    <h1>Добро пожаловать на новостной портал</h1>
    <p>Здравствуйте {{ user.username }},</p>
    <p>Спасибо за регистрацию на сайте. Мы рады, что вы интересуетесь новостями!</p>
    <p>Пожалуйста, нажмите на ссылку активации ниже, чтобы активировать свой аккаунт:</p>
    <p><a href="{{ activation_link }}">{{ activation_link }}</a></p>
    <p>Если вы не зарегистрировались на сайте, пожалуйста, проигнорируйте это письмо.</p>

</body>
</html>